#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
}

.animate {
  display: inline-block;
  padding: 4px;
  background-color: #000;
  animation: color infinite 1s;
  text-transform: uppercase;
}

@keyframes color {
  0% {
    color: #fff;
  }

  100% {
    color: red;
  }
}
